<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<!-- <listEntry value="/release/xstore/xstore/lib/ext/jetty/start.jar"/> --><!-- V21 change not required -->
<listEntry value="/release/xstore/xstore/lib/ext/jetty/jetty-start-9.4.43.v20210629.jar"/><!-- V21 change -->
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.jetty.start.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${workspace_loc:lev_pos}/jetty-mobile.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="lev_pos"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djetty.keystore.file=${workspace_loc:lev_pos}/mobile.keystore -Dspring.profiles.active=xstore -Dexternal.properties.file=jetty.mobile.properties -Ddtv.system.properties.location=${workspace_loc:lev_pos}/xstorem.properties -Ddtv.util.crypto.SecretKeyCipherManager.keyStoreDirectory=${workspace_loc:lev_pos}/res/keys -Ddtv.util.crypto.DtvKeyStoreManager.keyStoreDirectory=${workspace_loc:lev_pos}/res/keys -Xms512m -Xmx1024m  -XX:+ForceTimeHighResolution -XX:MetaspaceSize=128m -XX:MaxMetaspaceSize=512m  -Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:lev_xstore}"/>
</launchConfiguration>
